[submodule "test/data/bids-examples"]
	path = test/data/bids-examples
	url = https://github.com/bids-standard/bids-examples
[submodule "libBIDS.sh"]
	path = libBIDS.sh
	url = https://github.com/CoBrALab/libBIDS.sh.git
