// Main configuration for bids2nf
// Load base configuration
includeConfig 'config/base.config'

// Define default profile
profiles {
    // Local development profile (default)
    arm64_test {
        includeConfig 'config/profiles/arm64-test.config'
    }
    
    // Test profile for CI/CD and testing
    amd64_test {
        includeConfig 'config/profiles/amd64-test.config'
    }

    arm64_user {
        includeConfig 'config/profiles/arm64-user.config'
    }
    
    // Test profile for CI/CD and testing
    amd64_user {
        includeConfig 'config/profiles/amd64-user.config'
    }
    
}

// Set default profile if none specified
if (!params.containsKey('profile')) {
    params.profile = 'arm64_test'
}