// Main configuration for bids2nf
// Load base configuration
includeConfig 'config/base.config'

// Define default profile
profiles {
    // Local development profile (default)
    arm64 {
        includeConfig 'config/profiles/arm64.config'
    }
    
    // Test profile for CI/CD and testing
    amd64 {
        includeConfig 'config/profiles/amd64.config'
    }
    
}

// Set default profile if none specified
if (!params.containsKey('profile')) {
    params.profile = 'arm64'
}